# Ignore everything
**

# Unignore Git stuff
!.git*

# Unignore Ansible role directories
!defaults/
!defaults/**
!files/
!files/**
!handlers/
!handlers/**
!library/
!library/**
!meta/
!meta/**
!tasks/
!tasks/**
!templates/
!templates/**
!vars/
!vars/**

# Unignore README
!README
