# {{ ansible_managed }}

{# Ansible user #}
{%- if user_ansible_setup -%}
	{%- if sudo_ansible|lower == "passwordless" -%}
		{{ user_ansible_name }}	ALL=(ALL:ALL) NOPASSWD: ALL
	{%- elif sudo_ansible -%}
		{{ user_ansible_name }}	ALL=(ALL:ALL) ALL
	{%- endif -%}
{% endif %}

{# Unprivileged user #}
{%- if user_unprivileged_setup -%}
	{%- if sudo_unprivileged|lower == "passwordless" -%}
		{{ user_unprivileged_name }}	ALL=(ALL:ALL) NOPASSWD: ALL
	{%- elif sudo_unprivileged -%}
		{{ user_unprivileged_name }}	ALL=(ALL:ALL) ALL
	{%- endif -%}
{% endif %}
